*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}
.container{
background-color: whitesmoke;
min-height: 100vh;
border: 10px solid rgb(20, 19, 19);
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
 font-size: 40px;
 font-style: italic;
 font-weight: bold;
 color: rgb(50, 47, 47);
 text-transform: uppercase;

 

}
.top_section h4{
    text-align: end;
    font-size: 30px;
    color: rgb(50, 47, 47);
}
.img_container{
    border-radius: 50%;
    overflow: hidden;
}
.img_container,img{
     width: 300px;
     height: 320px;
}
.first{
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
}
.about_section{
    margin-top: 50px;

}
.about_section h2{
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;

}
.about_section p{
    line-height: 25px;
    letter-spacing: 1.2px;
    font-size: 15px;
    text-align: justify;

}
.captain{
    margin: 50px 0;
  
   
    border-width: 25%;

}
.captain h3{
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    font-weight: bold;
}
.captain ul{
    margin-left: 50px;

}
.captain li{
    margin-left: 50px;
}
footer{
    margin: 50px 0;
}
footer p{
     text-align: end;
}